/* FONTS */
@font-face {
    font-family: "nevis";
    src: url("./src/fonts/nevis.eot");
    src: url("./src/fonts/nevis.eot?#iefix") format("embedded-opentype"),
        url("./src/fonts/nevis.woff") format("woff"),
        url("./src/fonts/nevis.ttf") format("truetype"),
        url("./src/fonts/nevis.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "fajala";
    src: url("./src/fonts/nevis.eot");
    src: url("./src/fonts/FjallaOne-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "icons";
    src: url("./src/fonts/websymbols-regular-webfont.svg#WebSymbolsRegular") format("svg"),
    url("./src/fonts/websymbols-regular-webfont.eot");
    src: url("./src/fonts/websymbols-regular-webfont.eot") format("embedded-opentype"),
    url("./src/fonts/websymbols-regular-webfont.woff") format("woff"),
    url("./src/fonts/websymbols-regular-webfont.ttf") format("truetype"),
    url("./src/fonts/websymbols-regular-webfont.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

/* STYLES */
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-image: url("./src/img/paven.png");
}
.clear{
    float: none;
    clear: both;
}

/* HEADER */
header{
    width: 100%;
    height: 280px;
    background-color: rgb(242, 200, 245);
}
header a{
    text-decoration: none;
}
header #logo{
    width: 50%;
    margin: 0px auto;
    padding: 20px;
}
header img{
    width: 200px;
    height: 200px;
    display: block;
    margin: 0px auto;
}
header h1{
    font-family: "nevis";
    text-align: center;
    font-size: 30px;
    letter-spacing: 4px;
    color: violet;
    margin-top: 10PX;
    text-shadow: 0px 2px 1px black;
    transition: all 300ms;
}
header h1 a{
    text-align: center;
    font-size: 30px;
    color: violet;
}
header h1:hover{
    text-shadow: 0px 2px 1px black, 0px 0px 4px purple;
   
}

/* NAV MENU */
nav{
    width: 100%;
    height: 50px;
    padding: 2px 0px 2px 0px;
    background-color: rgb(176, 149, 177);
}
nav > ul{
    list-style: none;
    width: 42%;
    margin: 0 auto;
}
nav > ul > li{
    line-height: 50px;
    display: inline;
    float: left;
    border-right: 1px solid black;
    transition: all 300ms;
}
nav > ul > li > a{
    display: block;
    padding: 0px 20px 0px 20px;
    color: white;
    font-size: 20px;
    text-shadow: 0px 2px 1px black;
    font-family: "nevis";
    text-decoration: none;
    transition: all 300ms;
}
nav > ul > li:first-child{
    border-left: 1px solid black;
}
nav > ul > li:hover{
    background-color: white;
    box-shadow: 0 0 4px blueviolet inset;
}
nav > ul > li:hover > a{
    color: rgb(161, 58, 161);
    font-size: 22px;
    text-shadow: 0px 0px 0px black;
    text-decoration: none;
}
/* SUBMENU */
nav > ul > li > ul{
    display: none;
    margin-top: 0px;
    text-decoration: none;
    background-color: rgb(248, 166, 176);
    position: absolute;
    color: white;
    text-align: left;
    width: 125px;
    box-shadow: 0px 2px 2px violet;
    z-index: 1;
    
}
nav > ul > li > ul > li > a{
    text-decoration: none;
    color: black;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
nav > ul > li > ul > li:hover > a{
    text-decoration: none;
    font-weight: bold;
    color: black;
}
nav ul li:hover ul{
    display: block;
}

/* CONTENT */
#content{
    width: 80%;
    margin: 0px auto;
    margin-top: 50px;
    min-height: 1100px;
}
aside{
    width: 20%;
    float: left;
    background-color: white;
    border: 1px solid rgb(231, 226, 226);
    box-shadow: 1px 0px 10px black;
    margin-bottom: 100px;
}
#content a{
    text-decoration: none;
}
.widget{
    display: block;
    width: 80%;
    margin: 20px auto;
    padding: 5px;
    border-top: 1px solid rgb(189, 184, 184);
}
.widget:first-child{
    border-top: 0px solid black;
}
aside h3{
    text-align: center;
    font-weight: bold;
    margin: 15px 0 15px 0;
    padding: 10px 0 10px 0;
    background-color: antiquewhite;
    border-radius: 10px;
}
aside input[type="submit"]{
    display: block;
    margin: 10px auto;
    margin-top: 15px;
    width: 50%;
    height: 20px;
    border: 0px;
    color: black;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgb(175, 42, 150);
    background-color: rgb(239, 153, 153);
    cursor: pointer;
}
aside input[type="submit"]:hover{
    color: white;
    background-color: crimson;
}
aside input[type="text"], input[type="password"]{
    width: 100%;
    border: solid 1px black;
    border-radius: 2px;
    margin: 5px 0px 5px 0px;
}
aside input[type="text"]:focus, input[type="password"]:focus{
    padding: 3px;
}
aside a{
    display: block;
    margin: 2px 0px 2px 0px;
}
aside a:hover{
    font-weight: bold;
}
#newText{

    width: 18%;
    padding: 10px;
}

/* SECCIONES */
#sections{
    float: right;
    width: 900px;
    margin: 5px auto;
}
#sections h2{
    font-family: "fajala";
    text-align: center;
    
    font-size: 30px;
    padding-bottom: 10px;
    padding: 30px 0px 20px 0px;

    border-bottom: 1px solid black;
}
#sections section{
    background-color: white;
    border-radius: 3px;
    margin: 50px 0px 50px 0px;
    box-shadow: 1px 0px 10px black;
    overflow: hidden;
}
#sections section:first-child{
    background-color: white;
    margin-top: 0px;
}
#sections article{
    padding: 20px;
}
#sections span{
    color: gray;
    font-size: 13px;
}
#sections a{
    font-weight: bold;
}
.sticker_1, .sticker_2{
    position: absolute;
    margin-top: -20px;
}
.sticker_1{
    margin-left: 2%;
}
.sticker_2{
    margin-left: 55%;
}
.icon{
    font-family: "icons";
    float: left;
    margin-right: 10px;
}
footer{
    width: 100%;
    height: 80px;
    color: white;
    text-align: center;
    background-color: rgb(176, 149, 177);
    padding: 30px 0px 30px 0px;
}
footer p{
    text-shadow: 3px 0px 4px black;
    margin: 15px 10px 15px 10px;
}
footer a{
    text-shadow: 0px 0px 0px;
    text-decoration: none;
}
footer a:hover{
    color: crimson
}
#history{
    text-align: right;
    font-family: "nevis";
}
/* ANIMATIONS */
